@{
    ViewBag.Title = "Open311 GeoReport v2 API";
}
<h1>@ViewBag.Title</h1>

<ul>
    <li>
        Documentation at
        <a href="http://wiki.open311.org/GeoReport_v2/">Open311.org</a>.
    </li>
    <li>
        Source code at 
        <a href="https://github.com/mrich316/Open311.GeoReportApi">Github.com</a>.
    </li>
</ul>

<p>
    The GeoReport API v2 allows developers to build applications to both view
    and report issues which government entities like cities are responsible
    for addressing.
</p>
<p>
    These interactions are often referred to as "service requests" or "calls
    for service" and have traditionally been handled by custom web forms or
    phone based call centers (sometimes using the 311 phone number or other
    short-code).
</p>
<p>
    The GeoReport API is designed to allow both government and third party
    developers to create new applications and technologies that can integrate
    directly with these same official contact centers in any government that
    supports the standard.
</p>
